.arch-head{
	margin-bottom: 10px;
}
.arch-head-link{
	right:100px;
	font-size: 30px;
}

.arch-title-list{
	list-style-type:none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.arch-title-box{
	display: block;
	background-color: #aaaaaa;
	width: 128px;
	height: 128px;	
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 8px;
	overflow:hidden;
}