<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' %}
        <script type="text/javascript" src="{{url_for('static', filename='js/article.js')}}"></script>
    </head>
<body>
<div class="header">
    <h1>flaskblog</h1>
</div>
<div class="wrapper">

    <div id="article-content">
        <div class= "markdown-body" >
            {{article}}
        </div>
    </div>
    <nav>
    <ul class="pager">
        <li><a href="{{url_for('blog.article', aid=prev_aid)}}" id="prev">Previous</a></li>
        <li><a href="{{url_for('blog.article', aid=next_aid)}}" id="next">Next</a></li>
    </ul>
</nav>
</div>
</body>
</html>