        <header id="branding" role="banner">
            <h1 id="site-title">
                <a href="{{url_for('blog.home')}}" title="Serendipity" rel="home">
                    <img src="{{url_for('static',filename='images/logo.png')}}" alt="Serendipity" />
                </a>
            </h1>
            <div class="social">
                <div class="widget_search">
                    <form method="get" action="{{url_for('blog.search')}}" class="search-form">
                        <input type="submit" value="Search" class="search-submit-button" />
                        <input type="text" value="Search" onfocus="this.value=''" onblur="this.value='Search'" name="q" class="search-text-box" />
                    </form>
                </div>
                <!--ul>
                    <li><a href="#" target="_blank"><img src="{{url_for('static',filename='images/icon-rss.png')}}" alt="RSS" /></a></li>
                    <li><a href="#" target="_blank"><img src="{{url_for('static',filename='images/icon-facebook.png')}}" alt="Facebook" /></a></li>
                </ul-->
            </div>
            <nav id="access" class="access" role="navigation">
                <div id="menu" class="menu">
                    <ul id="tiny">
                        <li><a href="index.html">Blog</a>
                            <ul>
                                <li><a href="{{url_for('blog.home')}}">Blog Post</a></li>
                            </ul>
                        </li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="misc.html">Styles</a>
                            <ul>
                                <li><a href="misc.html">Misc</a></li>
                                <li><a href="columns.html">Columns</a></li>
                                <li><a href="typography.html">Typography</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="triangle-l"></div>
                <div class="triangle-r"></div>
            </nav>
            <!-- #access -->
        </header>