        <li class="comment">
                    <article class="comment">
                        <div class="avatar">
                            <img alt='' src='#' class='avatar avatar-80 photo' height='80' width='80' />
                        </div>
            
                        <div class="comment-content">
                        <h3><a href='#' id="comment_author">{{author}}</a></h3>
                            <div class="comment-meta">
                                <div class="comment-author vcard">22 May on 2013 at 2:57 pm</div><!-- .comment-author .vcard -->
                            </div>
                            <p id="comment_content">{{content}}</p>
                                        
                            <footer>
                            <div class="reply">
                                <a class='comment-reply-link' href='#'>Reply</a>
                            </div><!-- .reply -->
                            </footer>
                        </div>
                    </article><!-- #comment-## -->
        </li>