<!DOCTYPE HTML>
<html lang="en-US">
<head>
    {% include 'head.html' %}
</head>
<body class="single singular">
<div id="page" class="hfeed">
    <div id="wrapper">
        {% include 'banner.html' %}
        <!-- #branding -->

        <div id="main">

            <div id="primary">
                <div id="content" role="main">

                    <nav id="nav-single-fixed">
                        {% if prev %}
                        <span class="nav-prev">
                            <a href="{{url_for('blog.article',aid=prev.aid)}}" rel="prev" title="{{prev.title|safe}}">
                                <span class="meta-nav-prev">Previous</span>
                            </a>
                        </span>
                        {% else %}
                        <span class="nav-prev">
                            <a href="{{url_for('blog.home')}}" rel="prev" title="back to home">
                                <span class="meta-nav-prev">Previous</span>
                            </a>
                        </span>
                        {% endif %}
                        {%if next%}
                        <span class="nav-next">
                            <a href="{{url_for('blog.article',aid=next.aid)}}" rel="next" title="{{next.title|safe}}">
                                <span class="meta-nav-next">Next</span>
                            </a>
                        </span>
                        {%else%}
                        <span class="nav-next">
                            <a href="{{url_for('blog.home')}}" rel="next" title="back to home">
                                <span class="meta-nav-next">Next
                                </span>
                            </a>
                        </span>
                        {%endif%}
                    </nav><!-- #nav-single-fixed -->

                    <div id="crumbs">
                        {% for category in categories %}
                        <a href="{{url_for('blog.archive', arch='category', para=category.cname)}}" title="View all posts in Photography">
                            {{category.cname}}
                        </a>
                        {% endfor %}
                        <!--span class="delimiter">/</span-->
                        <!--span class="current">A Wonderful Serenity</span-->
                    </div>


                    <!-- begin article -->
                    <article class="post hentry format-image">
                        <!--keep 1-->
                        <header class="entry-header">
                            <h1 class="entry-title">{{article.title|safe}}</h1>
                            <div class="entry-meta">
                                <div class="entry-format">
                                    <span class="image-format">image</span>
                                </div>
                                <span class="sep"> | </span>
                                <a href="#"><time class="entry-date">{{article.create_time}}</time></a>
                                <span class="sep"> | </span>
                                {% for tag in tags %}
                                <span class="cat-links">
                                    <a href="{{url_for('blog.archive', arch='tag', para=tag.tname)}}">
                                        {{tag.tname}}
                                    </a>
                                </span>
                                <span class="sep"> | </span>
                                {% endfor %}
                                <div class="comments-link">
                                    <a href="#">4 Comments</a>
                                </div>
                            </div>
                            <!-- .entry-meta -->
                        </header>
                        <!-- .entry-header -->
                        <!-- backtrack 1 .entry-content -->
                        <div class="entry-content">
                        {{article.content|safe}}
                        </div>
                    </article>
                    <!-- end article -->


                    <nav id="nav-single">
                        <span class="nav-prev"><a href="#" rel="prev"><span class="meta-nav-prev">Prev Post</span></a></span>
                        <span class="nav-next"><a href="#" rel="next"><span class="meta-nav-next">Next Post</span></a></span>
                    </nav><!-- #nav-single -->
                    <hr />
                    <!-- Begin related posts -->
                    <!--backtrack2-->
                </div><!-- #main -->
                <!--backtrack3-->
            </div><!-- #wrapper -->
        </div><!-- #page -->
        <div id="comments">
            <ol class="commentlist" id="commentlist">
                {%for comment in comments%}
                    <li class="comment">
                    <article class="comment">
                        <div class="avatar">
                            <img alt='' src='#' class='avatar avatar-80 photo' height='80' width='80' />
                        </div>
                        <div class="comment-content">
                        <h3><a href='#' id="comment_author">{{comment['author']}}</a></h3>
                            <div class="comment-meta">
                                <div class="comment-author vcard">{{comment['create_time']}}</div><!-- .comment-author .vcard -->
                            </div>
                            <p id="comment_content">{{comment['com_content']}}</p>
                            <footer>
                            <div class="reply">
                                <a class='comment-reply-link' href='#'>Reply</a>
                            </div><!-- .reply -->
                            </footer>
                        </div>
                    </article><!-- #comment-## -->
                </li>
                {% endfor %}
            </ol>
        </div>
        <div id="respond">
                <h3 id="reply-title">Leave a Reply</h3>
                
                <form action="javascript:void(0);" method="post" id="commentform">
                    <input name="aid" value="{{article.aid}}" hidden="hidden"/>
                    <p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>
                    
                    <p class="comment-form-author">
                        <label for="author">Name</label> <span class="required">*</span>
                        <input id="author" name="author" type="text" value="" size="30" aria-required='true' />
                    </p>
                    <p class="comment-form-email">
                        <label for="email">Email</label> <span class="required">*</span>
                        <input id="email" name="email" type="text" value="" size="30" aria-required='true' />
                    </p>
                    <p class="comment-form-url">
                        <label for="url">Website</label>
                        <input id="url" name="url" type="text" value="" size="30" />
                    </p>
                    <p class="comment-form-comment">
                        <label for="comment">Comment</label>
                        <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                    </p>
                    <!--p class="form-submit">
                        <input name="submit" type="submit" id="submit" value="Post Comment" />
                    </p-->
                </form>
                <button id="mycomment">
                    post comment
                </button>
                <script>
                    $('#mycomment').click(function(){
                        $.post('/_comment',$('#commentform').serialize(),
                            function(data){
                                $("#commentlist").append(data.comment_html);
                            }
                        );
                    });
                </script>
        </div><!-- #respond -->
    </div>
</body>
</html>