<!DOCTYPE html>
<html>
<head>
    {% include 'header.html' %}
    <script type="text/javascript" src="{{url_for('static', filename='js/publish.js')}}"></script>
</head>
<body>
<div class="header">
    <h1><a href="{{url_for('blog.home')}}">flaskblog</a></h1>
</div>
<div class="wrapper">
    <textarea class="sidebar" id= "text-input" oninput="this.editor.update()">#Type **title** here.</textarea>
    <div class="main-content">
        <div class= "markdown-body" >
            <div id= "preview"> </div>
        </div>
    </div>

    <div class="footer">
        <form action="#" method="post">
            <input name="content" type="hidden" value="">
            <input type="submit" value="publish" class="button button-primary button-rounded button-small">
        </form>
    </div>
</div>
</body>
</html>