<!DOCTYPE html>
<html>
<head>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src= "{{url_for('static', filename='js/markdown.min.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/publish.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/publish.css')}}" >

    <link rel= "stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css" >
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js" ></script>

    <link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css">
</head>
<body>
<div class="header">
    <h1>flaskblog</h1>
</div>
<div class="wrapper">
    <textarea class="sidebar" id= "text-input" oninput="this.editor.update()">#Type **title** here.</textarea>
    <div class="main-content">
        <div class= "markdown-body" >
            <div id= "preview"> </div>
        </div>
    </div>

    <div class="footer">
        <form action="#" method="post">
            <input name="content" type="hidden" value="">
            <input type="submit" value="publish" class="button button-primary button-rounded button-small">
        </form>
    </div>
</div>
</body>
</html>